* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d3030;
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style-type: none;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #000345;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav li {
    padding: 10px;
}

nav a {
    font-size: 25px;
    display: block;
    color: white;
    text-transform: uppercase;
}

nav li:hover {
    background-color: green;
    border-color: white;
}

header h1, header p {
    background-color: #4d79ff;
    text-align: center;
    text-shadow: 1px -1px silver;
    letter-spacing: 2px;
    padding: 0 0 5px;
}

header p {
    color: white;
}

footer div {
    height: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #000345;
}

footer p {
    font-size: 17px;
    font-weight: 900;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 5px;
}

#fb, #in, #git {
    margin: 5px;
    padding: 5px;
    height: auto;
    border-radius: 10%;
    font-size: 10px;
    opacity: 0.7;
    background-color: white;
}

#fb a {
    width: auto;
}

#fb:hover, #in:hover, #git:hover {
    opacity: 1;
}

.dot {
    background-color: white;
    border-radius: 50%;
    margin: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    background-color: #4d0000;
    color: white;
    width: 60px;
    height: 30px;
    border-right: 3px solid silver;
    text-align: center;
}

.searched {
    background-color: green;
    font-weight: bold;
}

.fretboard-head {
    background-color: #CD853F;
    border: none;
    height: 10px;
    font-size: 7px;
}

.highlight {
    background-color: green;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
  color: red;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
  color: green;
}

#exercise-header {
    justify-content: center;
    display: flex;
    align-items: center;
}

.single-ex {
    text-align: center;
}

.single-ex h2 {
    margin: 5px;
    color: white;
}

.prev, .next {
    cursor: pointer;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 65px;
    transition: 0.3s ease;
    border-radius: 6px;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.6);
}

.start-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: green;
    box-shadow: inset 5px 5px 3px #ec9,
    4px 2px 10px 3px rgba(0,0,0,0.3);
    border: groove;
    border-top-left-radius: 50%;
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 100% 50%;
    font-weight: 900;
}

.popupText, #valid-guitar {
    display: block;
    padding: 20px;
    font-size: 12px;
    font-weight: 600;
    color: black;
    background: yellow;
    opacity: 0.8;
    border-radius: 10px;
}

label {
    color: white;
}

#selection {
    background: #228B22;
}

.form-field {
    justify-content: center;
    display: flex;
}

.checkbox {
    width: 70px;
    margin: 5px;
    padding: 5px;
    font-size: 22px;
    border: solid 1px silver;
    border-radius: 10px;
    background: #191970;
}

.checkbox input, .checkbox label {
    vertical-align:middle;
}

#str, #fr, .t-select, .submit-btn {
    background: black;
    color: white;
    width: 190px;
    text-align-last: center;
    border-radius: 20px;
    cursor: pointer;
}

.submit-btn {
    width: 200px;
    height: 50px;
}



